mixin slider (data)
  -
    const {
      minValue = 0,
      maxValue = 100,
      stepSize = 10,
      axis = 'X',
      valueType = 'singleValue',
      withTooltip = true,
      withLabels = true,
    } = data;
  section.slider.js-slider(
    data-minValue= minValue
    data-maxValue= maxValue
    data-stepSize= stepSize
    data-axis= axis
    data-valueType= valueType
    data-withTooltip= withTooltip
    data-withLabels= withLabels
  )