mixin slider (data)
  -
    const {
      minAvailableValue = 0,
      maxAvailableValue = 100,
      stepSize = 10,
      minCurrentValue = 0,
      maxCurrentValue = 1,
      axis = 'X',
      valueType = 'single',
      withTooltip = true,
      withLabels = true,
    } = data;
  section.slider.js-slider(
    data-minAvailableValue= minAvailableValue
    data-maxAvailableValue= maxAvailableValue
    data-stepSize= stepSize
    data-minCurrentValue = minCurrentValue
    data-maxCurrentValue = maxCurrentValue
    data-axis= axis
    data-valueType= valueType
    data-withTooltip= withTooltip
    data-withLabels= withLabels
  )